
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;;
    text-align: center;
    
}

body{
    background-color: #7fe4b5;
}

.card{

    width: 50%;
    height: 50%;
    border-radius: 7px;
    margin-top: 10rem;
    margin-left: 20rem;
}

#header{
    font-size: 3rem;
    display: inline-block;
    margin: 1rem;
    padding: 5px;
}




